*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.text-theme-bot{
  color: var(--tg-theme-text-color) !important;
}

.text-theme{
  color: #0B904F !important;
}

.bg-theme-bot{
  background: var(--tg-theme-bg-color) !important;
}

.bg-theme{
  background: #0B904F !important;
}

.swiper {
  box-shadow: 1px 1px 10px #000000a2;
  border-radius: 8px;
  margin-top: 20px;
}

.card-header{
  border-bottom: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.card-footer{
  border-top: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.multi-line-ellipsis {
  height: 90px;
  max-height: 90px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

