*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.text-theme-bot{
  color: var(--tg-theme-text-color) !important;
}

.text-theme{
  color: #0B904F !important;
}

.bg-theme-bot{
  background: var(--tg-theme-bg-color) !important;
}

.bg-theme{
  background: #0B904F !important;
}

.swiper.event-swiper {
  box-shadow: 1px 1px 10px #000000a2;
  border-radius: 8px;
  margin-top: 20px;
  background-image: url(../public/assets/images/bg.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.swiper.event-swiper::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #0000005d;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}


.swiper.marathon-type-swiper {
  box-shadow: 1px 1px 10px #000000a2;
  border-radius: 8px;
  margin-top: 20px;
  background-image: url(../public/assets/images/typebg.webp);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.swiper.marathon-type-swiper::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #0000005d;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.swiper.number-type-swiper {
  box-shadow: 1px 1px 10px #000000a2;
  border-radius: 8px;
  margin-top: 20px;
  background-image: url(../public/assets/images/number.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.swiper.number-type-swiper::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #0000005d;
}


.card-header{
  border-bottom: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.card-footer{
  border-top: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.multi-line-ellipsis {
  max-height: 90px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.event-bg{
  background-image: url(../public/assets/images/runners-running.webp);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
} 

