*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'SpicyRice';
  src: url('./assets/fonts/RubikDistressed-Regular.ttf');
}

body{
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.text-theme-bot{
  color: var(--tg-theme-text-color) !important;
}

.text-theme{
  color: #0B904F !important;
}

.bg-theme-bot{
  background: var(--tg-theme-bg-color) !important;
}

.bg-theme{
  background: #0B904F !important;
}

.swiper.event-swiper {
  box-shadow: 1px 1px 10px #000000a2;
  border-radius: 8px;
  margin-top: 20px;
  background-image: url(../public/assets/images/bg.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}


.swiper.event-swiper::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000a4;
  /* backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px); */
  z-index: -1;

}


.swiper.marathon-type-swiper {
  box-shadow: 1px 1px 10px #000000a2;
  border-radius: 8px;
  margin-top: 20px;
  background-image: url(../public/assets/images/typebg.webp);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.swiper.marathon-type-swiper::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #0000005d;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: -1;
}

.swiper.number-type-swiper {
  box-shadow: 1px 1px 10px #000000a2;
  border-radius: 8px;
  margin-top: 20px;
  background-image: url(../public/assets/images/number.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.swiper.number-type-swiper::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #0000005d;
  z-index: -1;
}


.card-header{
  border-bottom: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.card-footer{
  border-top: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.multi-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;  /* Limit to 4 lines */
  -webkit-box-orient: vertical;  /* Vertical box for the lines */
  overflow: hidden;  /* Hide overflow */
  text-overflow: ellipsis;  /* Add ellipsis (...) when text overflows */
  line-height: 1.5;  /* Adjust line height to control text height */
  height: calc(1.5em * 3);
}

.single-event-bg{
  background-image: url(../public/assets/images/single-event.webp);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
} 


.single-event-bg::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #00000093;
  z-index: -1;
  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
}

.header-fixed{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.custom-mt{
  margin-top: 80px;
}

.dropdown-item:focus, .dropdown-item:hover{
  color: var(--tg-theme-bg-color);
}

.marathon-bg{
  background-image: url(../public/assets/images/marathon.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.marathon-bg::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #0000006c;
  z-index: -1;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.events-bg{
  background-image: url(../public/assets/images/events-bg.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}


.events-bg::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #00000063;
  z-index: -1;
}

.border-theme{
  border-color: #0B904F !important;
}

.timer-fix-footer{
  position: fixed;
  width: 100%;
  height: 15px;
  bottom: 0;
  left: 0;
  z-index: 9;
}

.time-text{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 16px;
}

.invoice-title {
  font-size: 1.75rem;
  font-weight: bold;
}
.invoice-table th, .invoice-table td {
  text-align: center;
}
.table-summary td {
  font-weight: bold;
}

.delete-cart{
  bottom: 10px;
  right: 10px;
}

.otp-input {
  width: 33px;
  height: 33px;
  font-size: 16px;
  text-align: center;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}

.otp-input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  border-color: #007bff;
}

.result{
  display: flex;
  align-items: end;
  justify-content: space-between;
  height: 400px;
  gap: 1px;
}

.result-item{
  position: relative;
  flex: 1;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.first-place{
  height: 100%;
  width: 100%;
  background: linear-gradient(120deg, #0B904F 40%, #007bff);
}

.second-place{
  height: 80%;
  width: 100%;
  background: linear-gradient(110deg, #007bff 10%, #0B904F 90%);
}

.third-place{
  height: 60%;
  width: 100%;
  background: linear-gradient(120deg, #007bff 10%, #0B904F);
}

.result-icon{
  font-size: 80px;
}

.result-item-bg{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.text-gold{
  color: #D4AF37;
}

.text-silver{
  color: #c18585;
}

.result-third-position{
  position: absolute;
  top: -25%;
  font-size: 40px;
  font-family: 'SpicyRice', serif;
}

.result-first-position{
  position: absolute;
  top: -15%;
  font-size: 40px;
  font-family: 'SpicyRice', serif;
}

.result-second-position{
  position: absolute;
  top: -20%;
  font-size: 40px;
  font-family: 'SpicyRice', serif;
}

.result-participant{
  text-shadow: 1px 1px 10px #fff;
}

@media (max-width: 767px) {
  .result{
    height: 200px;
  }

  .result-icon{
    font-size: 50px;
  }

  .result-third-position{
    font-size: 30px;
    top: -35%;
  }

  .result-first-position{
    font-size: 30px;
    top: -20%;

  }

  .result-second-position{
    font-size: 30px;
    top: -25%;
  }

  .result-participant{
    font-size: 16px;
  }

}

@media (max-width: 576px){
  .result{
    flex-direction: column;
    gap: 50px;
    height: auto;
  }

  .result-third-position{
    font-size: 30px;
    top: -40%;

  }

  .result-first-position{
    font-size: 30px;
    top: -40%;
  }

  .result-second-position{
    font-size: 30px;
    top: -40%;
  }

  .first-place{
    order: -1;
  }

  .result-participant{
    font-size: 20px;
  }

}


